.eb-layout-page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;
	padding-bottom: 60px;
}

.eb-section-page{
	margin-top: 80px;	
}

.container-fluid {
	display: table-row;
}
/* Tela grande */
@media (min-width: 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
	
/* 	td { */
/* 		font-size: 10px; */
/* 	} */
		.lc-tabela-item__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.lc-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.lc-tabela-item__coluna--detalhes {
		width: calc(50% - 30px);
	}
	
	.lc-tabela-item__coluna--valores {
		width: calc(30% - 30px);

		text-align: right;
	}
	
	.lc-tabela-item__coluna--excluir {
		whidth: calc(20% - 30px);
	}
}

.eb-layout-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  border-top: 1px solid #eeeeee;
  background-color: #1a1a1a;
  color: #fff;
  transition: all 0.5s;
}
.eb-footer-disclaimer {
  font-size: 92%;
  display: block;
  color: #777777;
/*   line-height: 4; */
  text-align: center;
}

@media (min-width: 992px) {
  .eb-layout-footer.is-toggled {
    margin-left: 0;
  }
}
/* @media (min-width: 992px) { */
/*   .eb-layout-footer { */
/*     margin-left: 210px; */
/*   } */
/* } */

html,
body {
  height: 100%;
}
.eb-no-scroll {
  overflow: hidden !important;
}
.botao {
	float:right;
}

.navbar-brand {
	padding-top: 6px;
}

.eb-link-panel {
	float: right;
	padding: 0px;
}

.eb-ponto-panel {
	float: left;
	padding-top: 2px;
}
/* Easy Autocomplete */
.easy-autocomplete input {
	border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
	font-size: 1em !important;
	padding: 0px 5px !important;
}

/* Box Valor Total*/
.negativo .eb-box__value {
	color: red;
}

.eb-box {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #1e94d2;
}
.eb-box__icon {
  float: left;
  color: #1e94d2;
}
.eb-box__value {
  font-size: 1.69em;
  font-weight: 300;
  text-align: right;
  color: #eeeeee
}
.eb-box__title {
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}

/* Tabela Item */
.lc-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 15px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.eb-tabela-item-input {
	width:60px;
	font-size: 13px	
}

.lc-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.lc-tabela-item ~ .lc-tabela-item {
	border-top: 1px solid #ddd;
}

.lc-tabela-item__coluna {
	padding: 0 10px;
}

.lc-tabela-item__coluna--valores {
	padding-right: 0px;
}

.lc-tabela-item__coluna--detalhes, .lc-tabela-item__coluna--valores {
	margin-left: 60px;
}

.lc-tabela-item__vazio {
	padding: 15px 15px;
	border: 1px dashed #ddd;
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

.lc-tabela-produto-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.lc-tabela-produto-campo-quantidade {
	width: 30px;
	text-align: right;
}

.lc-tabela-produto-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}

.lc-tabela-produto-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}

.lc-tabela-produto-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

.lc-tabela-item__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
	height: 100%;
    width: 50%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .lc-tabela-item__painel-exclusao {
	right: 0;
	opacity: 1;
}

.lc-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}