/* Tela grande */
@media (min-width: 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
	
/* 	td { */
/* 		font-size: 10px; */
/* 	} */
		.bw-tabela-item__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.bw-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.bw-tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.bw-tabela-item__coluna--valores {
		width: calc(30% - 30px);

		text-align: right;
	}
}
.botao {
	float:right;
}

.navbar-brand {
	padding-top: 6px;
}

.eb-link-panel {
	float: right;
	padding: 0px;
}

.eb-ponto-panel {
	float: left;
	padding-top: 2px;
}
/* Easy Autocomplete */
.easy-autocomplete input {
	border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
	font-size: 1em !important;
	padding: 0px 5px !important;
}

/* Box Valor Total*/
.negativo .aw-box__value {
	color: red;
}

.aw-box {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #1e94d2;
}
.aw-box__icon {
  float: left;
  color: #1e94d2;
}
.aw-box__value {
  font-size: 1.69em;
  font-weight: 300;
  text-align: right;
}
.aw-box__title {
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}

/* Tabela Item */
.bw-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 15px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.eb-tabela-item-input {
	width:60px;
	font-size: 13px	
}

.bw-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.bw-tabela-item ~ .bw-tabela-item {
	border-top: 1px solid #ddd;
}

.bw-tabela-item__coluna {
	padding: 0 10px;
}

.bw-tabela-item__coluna--valores {
	padding-right: 0px;
}

.bw-tabela-item__coluna--detalhes, .bw-tabela-item__coluna--valores {
	margin-left: 60px;
}

.bw-tabela-produto-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.bw-tabela-produto-campo-quantidade {
	width: 30px;
	text-align: right;
}

.bw-tabela-produto-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}

.bw-tabela-produto-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}

.bw-tabela-produto-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

.bw-tabela-item__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
	height: 100%;
    width: 50%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .bw-tabela-item__painel-exclusao {
	right: 0;
	opacity: 1;
}

.bw-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}
