<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutP}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Lista de compras</title>
<link rel="stylesheet" th:href="@{/css/easy-autocomplete.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/easy-autocomplete.themes.min.css}" />

</head>

<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>
		<div class="">
			<form method="POST" th:action="@{/listas/nova}" th:object="${lista}"
				class="js-formulario-principal">
				<input type="hidden" id="lista" th:field="*{uuid}" /> <input
					type="hidden" th:field="*{codigo}" />
					
				<div class="row" id="produtos">
					<div class="col-md-12">
						<div class="">
							<div class="">
								<!--<a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#cadastroModalProduto" title="Incluir"	rel="tooltip" data-placement="top">
								<button type="submit" class="btn btn-primary">Incluir produto</button>
							</a>-->
								<input type="text" class="form-control  js-nome-item-input"
									id="produto"
									placeholder="Pesquise e adicione o produto pelo nome"
									autofocus="autofocus" data:url="@{/produtos}" />
							</div>
							<br/>
							<div class="">
								<input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Digite seu email"/>
							</div>
							<br/>
							<div class="">
								<div class="eb-box  js-valor-total-box-container">
									<div class="eb-box__value">
										Total R$<span class="js-valor-total-box" th:field="*{{valorTotal}}" ></span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="js-tabela-itens-container" data:valor="${valorTotalItens}">
						<th:block th:replace="TabelaItemLista" />
					</div>
				</div>
				<div >
					<div class="botao">
						<button type="submit" class="btn  btn-danger  js-submit-btn"
							data:acao="cancelar">Cancelar</button>
						<div class="btn-group">
							<button type="submit" class="btn  btn-primary  js-submit-btn"
								data:acao="salvar">Salvar</button>
							<button type="button" class="btn  btn-primary  dropdown-toggle"
								data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" class="js-submit-btn"
									data:acao="enviarEmail">Salvar e enviar por e-mail</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div layout:insert="CadastroProduto"></div>

	<th:block th:replace="TemplateAutocompleteProduto"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script src="/js/jquery.easy-autocomplete.min.js"></script>
	<script src="/js/handlebars.min.js"></script>

	<script src="/js/lista.autocomplete-itens.js"></script>
	<script src="/js/lista.tabela-itens.js"></script>
	<script src="/js/lista.js"></script>
	<script src="/js/lista.botao-submit.js"></script>
</th:block>
</html>