<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutP}">
<head>
<title>Cadastro produto</title>
<link rel="stylesheet" th:href="@{/css/easy-autocomplete.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/easy-autocomplete.themes.min.css}" />
</head>

<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>
	<div class="container-fluid">
		<form id="form-produto" method="POST" th:action="@{/produtos/salvar}" th:object="${produto}">
			<div class="form-group">
				<label for="nome" class="control-label">Nome produto:</label> <input
					type="text" class="form-control" id="nome" name="nome">
			</div>
			<div class="form-group">
				<label for="valorProduto" class="control-label">valor
					unitário:</label> <input type="text" class="form-control js-decimal"
					id="valorProduto" name="valorProduto">
			</div>
			<div class="form-group">
				<label for="codigoBarras" class="control-label">Codigo
					Barras:</label> <input type="text" class="form-control" id="codigoBarras"
					name="codigoBarras">
			</div>
			<div class="form-group">
				<label for="medida" class="control-label">Unidade medida:</label> <input
					type="text" class="form-control" id="medida" name="medida">
			</div>
			<div class="modal-footer">
				<a th:href="@{/}" class="btn btn-link">Cancelar</a>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</section>
</html>