<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
	<title>Lista de compras</title>
</head>

<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
		<div class="clearfix">
			<h1 class="panel-title eb-titulo-panel">Lista de compras</h1>
		</div>
		</div>

		<div class="panel-body">
		<form class=form-horizontal method="GET"action="/listas" >
				<div class="form-group">
					<div class="col-sm-4">
						<div class=input-group>
							<input class="form-control"
								placeholder="Qual produto você está procurando?"
								autofocus="autofocus" ></input> 
								<span class=input-group-btn>
								<button type="button" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="text-center">Produto</th>
						<th class="col-md-2">Preço unitário</th>
						<th class="text-center col-md-2">Quantidade</th>
						<th class="text-center col-md-2">preco total</th>
						<td class="text-center"></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${itens}">
						<td th:text="${item.produto.nome}"></td>
						<td th:text="${item.valorUnitario}"></td>
						<td class="text-center" th:text="${item.quantidade}"></td>
						<td class="text-center" th:text="${item.valorTotal}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		
	</div>

</section>
</html>