<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Lista de compras</title>
	
<!-- 	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/easybuy.css"/>
	<link rel="stylesheet" type="text/css" href="/css/lista-compra.css" />
	
</head>

<body>
	<div class="eb-layout-page">
		<div th:replace="Cabecalho :: navbar"></div>

		<div th:replace="MenuLateral :: layout-sidebar"></div>
	
		<section class="eb-layout-content js-content" layout:fragment="conteudo"></section>
		
		<div th:replace="Footer :: layout-footer"></div>
		
	</div>
	
	<div layout:insert="CadastroProduto"></div>
	
<script src="/js/vendors.min.js"></script>
<script src="/js/easybuy.js"></script>

<!-- <script src="/js/jquery.maskMoney.min.js"></script> -->
<script src="/js/jquery.masknumber.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/produto.js"></script>

<script src="/js/bootstrap-datepicker.min.js"></script>
<!-- <script src="/js/bootstrap-datepicker.pt-BR.min.js"></script> -->

<script src="/js/numeral.min.js"></script>
<script src="/js/pt-br.min.js"></script>

<script src="/js/listaCompras.js"></script>

<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>