<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutP}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
	<title>Listas de compras</title>
</head>

<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>
	<div class="container-fluid">

		<a th:href="@{/listas/nova}" class="btn btn-primary">
			<i class="fa  fa-fw  fa-plus"></i>
			Nova Lista
		</a>
		
		<div class="row" style="margin-top: 20px">
			<div class="col-md-12">
				<div class="table-responsive text-center">					
					<table class="table">
	
						<tr>
							<th class="text-center">Código</th>
							<th class="text-center">Tipo lista</th>
							<th class="text-center">Data</th>
							<th class="text-center">Valor</th>
							<th class="text-center">Visualizar</th>
						</tr>
						<tr th:each="lista : ${listas}">
							<td th:text="${lista.codigo}"></td>
							<td th:text="${lista.nomeLista}"></td>
							<td th:text="${{lista.dataCriacao}}"></td>
							<td th:text="${lista.valorTotal}"></td>
							<td>
								<a class="btn btn-primary" th:href="@{/listas/{codigoLista}(codigoLista=${lista.codigo})}">
									<i class="fa  fa-fw  fa-eye"></i>
								</a>
							</td>
						</tr>
	
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
</html>