<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="lc-tabela-item  js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
		
		<div class="lc-tabela-item__coluna  lc-tabela-item__coluna--detalhes">
			<span class="lc-tabela-item-nome" th:text="${item.produto.nome}"></span>
			<span class="label  label-default" th:text="${item.produto.codigoBarras}"></span>
			<span class="" th:text="${item.produto.descricao}"></span>
		</div>
		
		<div class="lc-tabela-item__coluna  lc-tabela-item__coluna--valores">
			<div class="lc-tabela-produto-valor-pequeno">
				<input type="text" maxlength="3" class="eb-tabela-item-input js-tabela-item-quantidade" 
					th:value="${item.quantidade}" data:codigo-produto="${item.produto.codigo}"/>
				<span>x <input type="text" class="eb-tabela-item-input js-tabela-item-valor" 
					th:value="${{item.valorUnitario}}" data:codigo-produto="${item.produto.codigo}" />
				</span>
				<span>= R$[[${{item.valorTotal}}]]</span>
			</div>
			
		</div>
		
		<div class="lc-tabela-item__painel-exclusao" >
			<span class="lc-tabela-item__titulo-exclusao">Excluir este item da lista?</span>
			<button type="button" class="btn  btn-danger  js-exclusao-item-btn"
				data:codigo-produto="${item.produto.codigo}">Sim, excluir!</button>
		</div>
	</div>
	
	<div class="lc-tabela-items__vazio" th:if="${itens.empty}">
		<i class="glyphicon  glyphicon-shopping-cart"></i> 
		<span>Você ainda não adicionou nenhum produto.</span>
	</div>
</html>