<script id="template-autocomplete-item" type="text/x-handlebars-template">
	<div class="eb-tabela-item">
		
		<div class="eb-tabela-item__coluna  eb-tabela-item__coluna--detalhes">
			<span class="eb-tabela-produto-nome">{{nome}}</span>
			<span class="label  label-default">{{codigoBarras}}</span>
			<span class="eb-tabela-produto-origem">{{unidade}}</span>
		</div>
		<!--<div class="eb-tabela-item__coluna  eb-tabela-item__coluna--valores">
			<div class="eb-tabela-produto-valor-medio">R${{valorFormatado}}</div>
		</div>-->
	</div>
</script>